PR-Reviewer.json
{
  "name": "PR-Reviewer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-pr",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -448,
        -240
      ],
      "id": "4d9f945b-95d9-4c76-9b0f-6ece71e5df0a",
      "name": "Webhook",
      "webhookId": "604c7c14-01e5-4ce6-983c-3fa3f9719d5f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "df6ee832-d4a7-4669-8e04-667ec5f5e5ca",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "opened",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "ea1fb6cd-4834-4c3f-8a4c-41e60ea5d161",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "synchronize",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -240,
        -240
      ],
      "id": "34ac14ab-95c7-4122-aa54-b028aa48801d",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').item.json.body.pull_request.comments_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "={{ $json.commentBody }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        848,
        -144
      ],
      "id": "5c1a0c08-cfbb-41af-9c80-d2e2590da009",
      "name": "Post Comment",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YjIZB4V7IBPbVDTR",
          "name": "Github PAT v2"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.github.com/repos/{{$('Analyze PR').item.json.repoFullName}}/issues/comments/{{ $json.commentId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "={{ $json.commentBody }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        -384
      ],
      "id": "6c83b343-ac56-4e89-ba2d-1c78191b3baa",
      "name": "Patch Comment",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YjIZB4V7IBPbVDTR",
          "name": "Github PAT v2"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.body.repository.full_name }}/pulls/{{ $json.body.number }}/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -32,
        -256
      ],
      "id": "96f8ef04-5932-4839-9527-f38012c01d2f",
      "name": "Fetch PR Files",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "YjIZB4V7IBPbVDTR",
          "name": "Github PAT v2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const pr=$('Webhook').first().json.body.pull_request;\nconst prNumber=$('Webhook').first().json.body.number;\nconst files=$input.all().map(i=>i.json);\n\nconst prTitle=pr.title;\nconst validPrefixes = ['feat:', 'fix:', 'docs:', 'style:', 'refactor:', 'test:', 'chore:', 'perf:', 'ci:', 'build:'];\n\nlet titleCheck='❌ Title format unclear';\nfor (const prefix of validPrefixes) {\n  if(prTitle.toLowerCase().startsWith(prefix))\n  {\n    titleCheck='✅ Follows conventional commit format';\n    break;\n  }\n}\n\nlet sizeCategory='N/A';\nlet uniqueExtensions=[];\nlet sensitiveBlock='N/A';\nlet totalChange;\nlet sensitiveFiles=[];\n\n if(files.length!==0) {\n   const sensitivePatterns = [\n  'package.json',\n  'package-lock.json',\n  'yarn.lock',\n  '.env',\n  '.env.local',\n  '.env.production',\n  'requirements.txt',\n  'Dockerfile',\n  'docker-compose.yml',\n  '.github/workflows',  // CI/CD files\n];\n\n sensitiveFiles=files.filter(i=> sensitivePatterns.some(pattern=> i.filename.includes(pattern))).map(f=>f.filename);\n\n sensitiveBlock =sensitiveFiles.length > 0? `⚠️ **Sensitive files modified:**\\n${sensitiveFiles.map(f => `- ${f}`).join('\\n')}`:\"✅ No sensitive files touched\";\n\nconst extension=files.map(i=> {\n  const parts=i.filename.split('.');\n  return parts.length>1 ? '.'+parts.at(-1):'(no ext)';\n});\n\n  uniqueExtensions=[...new Set(extension)];\n\n totalChange= pr.additions+pr.deletions ;\n\nif(totalChange<50) sizeCategory='🟢 Small';\nelse if(totalChange<200) sizeCategory='🟡 Medium';\nelse if(totalChange<500) sizeCategory='🟠 Large';\nelse sizeCategory='🔴 Very Large'; \n }\n\nlet embedColor;\n   if(sensitiveFiles.length>0)\n     embedColor = 15158332; //red\n   else if(sizeCategory.includes('Small'))\n     embedColor=3066993; //green\n   else if(sizeCategory.includes('Medium'))\n     embedColor=15844367; //yellow\n   else if(sizeCategory.includes('Large'))\n     embedColor=15105570; //orange\n   else embedColor=3447003; //blue default\n\nconst sensitiveEmbedValue = sensitiveFiles.length > 0\n  ?`⚠️ Touched:\\n${sensitiveFiles.map(f => `• ${f}`).join('\\n')}`\n  : '✅ None touched';\n\n const embedFields=[{name: 'Title Format',value: titleCheck, inline:false}];\n\nif(files.length>0) {\n  embedFields.push({ name:'Size', value: sizeCategory,inline:true });\n  embedFields.push({ name: 'Files Changed', value: String(files.length), inline:true});\n  embedFields.push({name: 'File Types', value:uniqueExtensions.join(', '), inline:true});\n  embedFields.push({name: 'Sensitive Files', value: sensitiveEmbedValue, inline:false}); \n}\n\nconst embed={\n  title:pr.title,\n  url: pr.html_url,\n  color: embedColor,\n  description: `New PR by **${pr.user.login}**`,\n  fields: embedFields,\n  footer: {text: 'PR Auto-Reviewer'},\n  timestamp: new Date().toISOString()\n};\n\n  const discordPayLoad={embeds: [embed]};\n\nconst fileLines=files.map(f=> `- \\`${f.filename}\\` (${f.status}): +${f.additions}/-${f.deletions}`).join('\\n');\n\nconst filesBreakdown= files.length!==0? `\\n**Size:** ${sizeCategory} (${totalChange} lines)\\n**Changes:**\\n${fileLines}\\n**Files Changed:** ${files.length}\\n**File Types:** ${uniqueExtensions.join(', ')}\\n\\n${sensitiveBlock}\\n\\n`:'';\n\nconst markDownComment=`## 🤖 PR Auto-Review\\n\\n**Title Format:** ${titleCheck}${filesBreakdown}---\\n*Posted by your n8n PR Auto-Reviewer*`;\n\nreturn {\n  json: {\n    reviewContent: markDownComment,\n    discordPayLoad,\n    prNumber,\n    repoFullName: $('Webhook').first().json.body.repository.full_name\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -256
      ],
      "id": "3f9872ef-53dc-4a18-8800-e9f51df06ae4",
      "name": "Analyze PR"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{$json.repoFullName}}/issues/{{ $json.prNumber }}/comments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        320,
        -256
      ],
      "id": "bff55e51-5559-4c51-96cc-81bab6d070a1",
      "name": "Get PR Comments",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "YjIZB4V7IBPbVDTR",
          "name": "Github PAT v2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const reviewContent=$('Analyze PR').first().json;\nconst existingComments=$input.all().map(i=> i.json).filter(i=> i.body);\nconst discordPayLoad=reviewContent.discordPayLoad;\nconst prNumber=reviewContent.prNumber;\nconst repoFullName=reviewContent.repoFullName;\n\nlet existingCommentId=null;\nfor (const comment of existingComments) {\n  if(comment.body.includes(\"<!-- pr-auto-reviewer-v1 -->\")){\n  existingCommentId=comment.id;\n    break;\n  }\n}\n\nconst timestamp = $now.setZone('Asia/Kolkata').toFormat('yyyy-MM-dd HH:mm');\n\nconst finalBody=`<!-- pr-auto-reviewer-v1 -->\\n${reviewContent.reviewContent}\\n*Last updated*: ${timestamp}`;\n\nreturn [{\n  json: {\n    exists: existingCommentId!==null,\n    commentId: existingCommentId,\n    commentBody: finalBody,\n    discordPayLoad,\n    prNumber,\n    repoFullName\n  }\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -256
      ],
      "id": "c5c5a550-f7dc-4674-80b2-1741d6232bac",
      "name": "Check Idempotency"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ea338f7a-2854-49c1-8321-038dc6dd18fd",
              "leftValue": "={{ $json.exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        656,
        -256
      ],
      "id": "1343bfa4-bb28-4dc9-83ff-aaee71d63a74",
      "name": "Comment Exists?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_PR_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Check Idempotency').item.json.discordPayLoad }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1072,
        -272
      ],
      "id": "b6d9cd24-5aac-4db4-8817-a2be952f786d",
      "name": "Notify Discord",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Fetch PR Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Patch Comment": {
      "main": [
        [
          {
            "node": "Notify Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Comment": {
      "main": [
        [
          {
            "node": "Notify Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch PR Files": {
      "main": [
        [
          {
            "node": "Analyze PR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze PR": {
      "main": [
        [
          {
            "node": "Get PR Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get PR Comments": {
      "main": [
        [
          {
            "node": "Check Idempotency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Idempotency": {
      "main": [
        [
          {
            "node": "Comment Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment Exists?": {
      "main": [
        [
          {
            "node": "Patch Comment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "2ba7dac3-2511-488b-af8d-93440b35e84b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bc3b518e3438fa93658b32c4726b4a6a9ef264ef621f5500657c694eaf632d8a"
  },
  "nodeGroups": [],
  "id": "o8P9hxJ7q98WgyAT",
  "tags": []
}